/* FLEXBOX */

.flexbox {
    display: flex;
    justify-content: space-around;
    flex-direction: column ;

}

.item:nth-child(1) {
    order: 1;

}



/* EIXO */



.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

} 

/*  Flex sizing */

.Cntainer {
display: flex;
border: 1px solid red;
height: 200px;


}

 .item1{
    background-color: gray;
    border: 1px solid ; 
    flex: 10;
    
    }